/* style.css */
/* reset */
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: arial, sans-serif;
    list-style: none;
    text-decoration: none;
}
/* Estilos para o cabeçalho */
header {
    background-color: #ffffff;
    padding: 5px;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    color: black;
}
/* Estilos para a barra de busca */
.search-bar {
    display: flex;
    align-items: center;
}
.search-bar input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.search-bar button {
    padding: 5px 10px;
    background-color: #9b318d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* Estilos para o menu "Sobre" */
nav ul {

}
nav ul li {
    display: inline-block;
    margin: 0 10px;
}
nav ul li a {
    text-decoration: none;
    color: #000000;
}
/* Estilos para o rodapé */
footer {
    background-color: #000000;
    color: #fff;
    padding: 0px;
    text-align: center;
}
footer img {
    max-width: 50%;
    height: auto;
    margin: 0 auto;
}
.letra {
    margin: 10px;
    font-size: 1rem;
}